@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Icomoon;
    src: url("../public/media/icomoon/fonts/icomoon.ttf");
}